<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!-- Ajustar Data Source al nombre de la instancia local de SQL Server -->
    <add name="TiendaUNNE"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TiendaUNNE;Integrated Security=True;TrustServerCertificate=True;Connect Timeout=15" />
  </connectionStrings>
</configuration>
